*{
    box-sizing: border-box;
}

:root{
    --main-500:#0C5ADB;
    --neutral-900:#232323;
    --neutral-200:#616161;
    --white:#fff;
}

h1,h2,h3,h4,h5{
    color: #232323;
    margin: 0;
}

.btn1,
.btn{
    padding: 15px 30px;
    color: var(--white);
    background-color: var(--main-500);
    border-radius: 5px;
    display: inline-block;
    transition: all 0.5s;
}

.btn1:hover,
.btn:hover{
    background-color: #00247E;
}

.btn1{
    font-size: 18px;
}

/* Common Css */
body{
    color: var(--neutral-200);
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

p{
    line-height: 1.8;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.container{
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    display: flow-root;
}

.d-flex{
    display: flex;
}

.pad{
    padding: 100px 0;
}

/* header Left */
.header_section--center,
.header_section--left{
    padding: 10px 0;
    text-align: left;
    margin-bottom: 20px;
}

.header_side-title{
    font-weight: bold;
    color: var(--main-500);
}



.header_main-title{
    color: var(--neutral-900);
    font-size: 40px;
    font-weight: 800;
    margin: 15px 0;
}

.color-cange{
    color: var(--main-500);
}

.line-center,
.line{
    width: 100px;
    height: 5px;
    background-color: #b4b0bd;
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
}


@keyframes  move{
    from{
        left:1%;
    }
    to{
        left:100%;
    }
}

.line-center::before,
.line::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: var(--main-500);
    border-radius: 50%;
    position: absolute;
    top:-3px;
    left:1%;
    animation: move 3s infinite;
}

/* header Center & White*/
.header_section--center{
    text-align: center;
}

.line-center{
    margin: 0 auto;
}
.white{
    color: var(--white);
}

.img{
    width: 100%;
}

/* Info Bar Start */
#info_bar{
    padding: 10px 0;
    background-color: var(--main-500);
}

#info_bar .d-flex{
    justify-content: space-between;
}

#info_bar ul{
    display: flex;
    column-gap: 10px;
}

#info_bar ul.info li i{
    margin-right: 8px;
    color: var(--white);
    font-size: 15pxpx;
}

#info_bar ul.info li a{
    font-size: 15px;
    color: var(--white);
}

.social_icons i{
    font-size: 15px;
    margin-right: 10px;
}

.social_icons a{
    padding: 5px 0;
    color: var(--white);
}

/* Header */
header{
    position: sticky;
    padding: 20px 0;
    top: 0;
    background-color: var(--white);
    z-index: 999;
}

header .d-flex{
    justify-content: space-between;
}

.navigation{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.navigation li a{
    font-weight: 600;
    color: var(--neutral-900);
}

.navigation li a:hover{
    color: var(--main-500);
}

.navigation li a.btn{
    color: var(--white);
}

/* Banner */
#banner{
    background-image: url(../images/slider-1.png);
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 250px 0 300px;
    
}

#banner h5{
    color: var(--white);
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 10px 0;
}

#banner h1{
    color: var(--white);
    font-size: 65px;
    font-weight: 800;
    margin: 25px 0;
}

#banner .btn1 + .btn1{
    margin-left: 30px;
}

#banner .btn1 i{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
/* Service cards */
.service_cards{
    padding-bottom: 50px;
}
.service_card{
    /* width:23%; */
    background-color: var(--white);
    padding: 40px 27px;
    text-align: center;
    margin-top: -100px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.10);
}

.service_card + .service_card{
    margin-left: 20px;
}

.service_card i{
    padding: 30px;
    font-size: 30px;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--main-500);
}

.service_card h2{
    font-size: 20px;
    margin-top: 20px;
}

/* About Us */
@keyframes bounce{
    from{
        bottom: -5%;
    }

    to{
        bottom: 0;
    }
}

.about-img-section{
    position: relative;
}

.about-img-bg{
    position: absolute;
    bottom: -5%;
    left:-10%;
    z-index: -1;
    animation: bounce 1.5s infinite alternate;
}

.about-img-section .about-img-bg img{
    width: 70%;
}

.about-img-section + .about-content{
    margin-left: 30px;
}

.about_side_contents{
    margin-top: 30px;
}

.about_side_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.about_side_content + .about_side_content{
    margin-top: 40px;
}

.about_side_content i{
    font-size: 30px;
    margin-right: 30px;
    color: var(--main-500);
}

.about_side--content p{
    margin: 10px 0;
}


/* Services */
.services {
    background: url(../images/services-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.services .service_cards{
    padding-bottom: 0;
    margin-top: 50px;
}

.services .service_cards .d-flex{
    flex-wrap: wrap;
    gap:25px;
}

.services .service_cards .service_card{
    width: 31%;
    color: #fff;
    background-color: transparent;
    border: 2px solid var(--main-500);
    margin-top: 0;
    padding: 25px 30px;
}

.services .service_cards .service_card h2{
    color: var(--white)
}

.services .service_card + .service_card{
    margin:0;
}

/* Our Team */
.our-team{
    background-image: url(../images/team-bg2.jpg);
    background-size: cover;
    background-position: center;
}

.our-team-header{
    align-items: center;
    justify-content: space-between;
}

.our-team-members{
    column-gap: 30px;
}

.team-member{
    width: 23%;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    border-bottom: 3px solid var(--main-500);
    transition: all 0.5s;
    position: relative;

}

.team-member:hover{
 transform: translateY(-7px);
}

.team-member img{
    display: block;
    width: 100%;
}

.member-img{
    position: relative;
}

.team-member .member-img::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--main-500);
    opacity: 0;
    position: absolute;
    transition: all 0.5s;
}

.team-member:hover .member-img::before{
    opacity: 0.75;
}

.member-details{
    padding: 20px 0;
    background-color: var(--white);
}

.member-details .name{
    color: var(--neutral-900);
    font-size: 20px;
    font-weight: bolder;
}

.member-details .designation{
    color: var(--main-500);
}

.member-social-icons{
    position: absolute;
    top:20%;
    right: -100%;
    z-index: 1;
    opacity: 0;
    transition: all 1s;
}

.team-member:hover .member-social-icons{
    right: 0;
    opacity: 1;
    transition: all 0.5s;
}

.member-social-icons a{
    color: var(--main-500);
    background-color: var(--white);
    padding: 10px 15px;
    display: block;
}
